.deleteButton {
  composes: button from 'Components/Link/Button.module.css';

  margin-right: auto;
}

.hideMetadataProfile {
  composes: group from 'Components/Form/FormGroup.module.css';

  display: none;
}

.labelIcon {
  margin-left: 8px;
}
