.title {
  composes: title from 'Components/DescriptionList/DescriptionListItemTitle.module.css';

  width: 90px;
}

.description {
  composes: description from 'Components/DescriptionList/DescriptionListItemDescription.module.css';

  margin-left: 110px;
}
